@page "/fetchdatamvvm"

@using SimpleMVVM.Client.ViewModels
@inject IFetchDataViewModel fetchDataViewModel

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (fetchDataViewModel.WeatherForecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{ }